.container.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
  margin: 0 auto;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.contact__option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact__option h5 {
  font-size: 0.7rem;
  word-break: break-all;
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid #2c2c6c;
  resize: none;
  color: var(--color-white);
}

@media screen and (max-width: 1024px) {
  .container.contact__container {
    width: var(--container-width-sm);
  }

  .contact__options {
    margin-left: 15px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 600px) {
  input {
    margin-right: 50px;
  }

  input,
  textarea {
    margin-right: 50px;
  }
}

@media screen and (max-width: 600px) {
  .container.contact__container {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .contact__options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }

  .contact__option {
    padding: 0.8rem;
    width: 72%;
    margin-right: 10px;
  }

  .contact__option-icon {
    font-size: 1.5rem;
  }

  .contact__option h4 {
    font-size: 1rem;
  }

  .contact__option h5 {
    font-size: 0.9rem;
    word-break: break-all;
  }

  .contact__option a {
    font-size: 0.8rem;
  }

  input,
  textarea {
    padding: 0.8rem;
    width: 70%;
    align-self: center;
  }

  .form__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
}

@media screen and (max-width: 450px) and (min-width: 400px) {
  #contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-left: 20px;
  }
  .contact__option-icon {
    font-size: 1.5rem;
  }

  .contact__option h4 {
    font-size: 1rem;
  }

  .contact__option h5 {
    font-size: 0.9rem;
    word-break: break-all;
    padding-right: 50px;
  }

  .contact__option a {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 399px) and (min-width: 350px) {
  #contact {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .contact__option h5 {
    font-size: 0.8rem;
    margin-left: -90px;
  }

  h5 {
    margin-left: -60px;
  }

  h2 {
    margin-left: -15%;
  }
}
